/* About Page/About Me section */
/* Container {
    padding-bottom: 60%
} */

.section {
  background-color: rgba(223, 232, 241, 0.5);
  color: #223843;
  font-size: large;
  margin-top: 8vh;
}

.profileImage {
  max-width: 100% !important;
}

.icons {
  font-size: 40px;
  padding: 0;
  color: #223843;
  align-items: flex-end;
}

.icons:hover {
  color: #275360;
}
