.promoNotBig {
  transition: all 0.5s;
}

.promoNotBig:hover {
  transform: scale(1.07);
}

/* .promoBig {
    position: relative;
    z-index: 10;
    background-color: white;
    
} */


.captionButtons {
  background-color: rgba(223, 232, 241, 0);
}

.icon {
  font-size: 30px;
  padding: 3px;
  color: #223843;
  /* align-items: flex-end; */
}
