.navbar-custom {
  background-color: #223843;
  opacity: 0.9;
  height: 8vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  font-size: 2rem;
  color: #eae6f4 !important;
  transition: all 0.5s;
}

.nav-brand:hover {
  transform: scale(1.05);
}

.link-text {
  color: #cc945b !important;
  transition: all 0.5s;
}

.link-text:hover {
  transform: scale(1.2);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(204,148,91)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler {
  border-color: #cc945b !important;
}

/* .navbar-toggler {
  border-color: #9f612e !important;
} */

#basic-navbar-nav {
  background-color:#223843;
}
